<h1>Edit Profile</h1>

<%= form_for(@user) do |f| %>

  <div class="field">
   <%= f.label :uname, "User name" %><br />
   <%= f.text_field :uname %>
  </div>
  <div class="field">
   <%= f.label :pass, "Password" %><br />
   <%= f.password_field :pass %>
  </div>
  <div class="field">
   <%= f.label :pass_confirmation, "Please retype password" %><br />
   <%= f.password_field :pass_confirmation %>
  </div>
  <div class="field">
   <%= f.label :email %><br />
   <%= f.text_field :email %>
  </div>
  <div class="actions">
  <%= f.submit %>
  </div>
<% end %>
